{% load i18n %}{% autoescape off %}
{% blocktrans %}Hey, You're receiving this email because you requested a password reset for your user account at {{site_name }}.{% endblocktrans %}
<div style="margin:10px; padding: 10px;border: 2px solid violet;border-radius: 16px; display: block; justify-content: center !important;">
    {% trans "Please go to the following page and choose a new password:" %}
    <br><br>
    {% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
    <br>
    {% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
    <br>
    {% trans "Thanks for using our site!" %}
    <br>
    {% blocktrans %}The NLP team{% endblocktrans %}
</div>
{% endautoescape %}