{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block title %}Data Analysis{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<!-- Button trigger modal -->
<h4 id="tag" style="background: #000; z-index: 1; font-family: 'Candara' , sans-serif; position: absolute; top: 15%; left: 50%;
    transform: translate(-50%, -50%); width: auto; height: auto; padding: 10 25 10 25px; text-align: center; border-radius: 10px;
    opacity: 0.92; border-radius: 16px;color: white; visibility: hidden;">About Us</h4>
<form id="twitter" class="form-inline custom text-center">
    <input id='hash' type="text" class="form-control custom-form" placeholder="Enter Hashtag here" required>
    <button type="submit" class="analyze" id='analyze'>Analyze</button>
</form>
<div style="justify-content:space-evenly !important;" class="row justify-content-center">
    <button id="positive" style="display: none;" type="button btn-sm" class="analyze" data-toggle="modal"
        data-target="#exampleModalCenter" onclick="setTableData('positive')">
        <small>view positive tweets (<span class='counts' id='p_count'></span>)</small>
    </button>
    <button id="neutral" style="display: none;" type="button btn-sm" class="analyze" data-toggle="modal"
        data-target="#exampleModalCenter" onclick="setTableData('neutral')">
        <small>view neutral tweets (<span class='counts' id='nu_count'></span>)</small>
    </button>
    <button id="negative" style="display: none;" type="button btn-sm" class="analyze" data-toggle="modal"
        data-target="#exampleModalCenter" onclick="setTableData('negative')">
        <small>view negative tweets (<span class='counts' id='ne_count'></span>)</small>
    </button>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <canvas style="background-color: aliceblue;display: none;padding: 10px; width: fit-content;height: fit-content;"
            id="myChartBar"></canvas>
    </div>
    <div class="col-md-6">
        <canvas style="background-color: aliceblue;display: none;padding: 10px;width: fit-content;height: fit-content;"
            id="myPie"></canvas>
    </div>
</div>
<div class="row" style="justify-content: space-around; margin: 3%;">
    <div class="col-md-12">
        <canvas style="background-color: aliceblue;display: none;padding: 10px;width: fit-content;height: fit-content;"
            id="myLine"></canvas>
    </div>
</div>
<!-- myDate -->
<div class="row" style="justify-content: space-around; margin: 3%;">
    <div class="col-md-12">
        <canvas style="background-color: aliceblue;display: none;padding: 10px;width: fit-content;height: fit-content;"
            id="myDate"></canvas>
    </div>
</div>
{% else %}
<h1 class="text-center text-danger">Please Login/Register First</h1>
<div style="justify-content: space-between ; margin: 10px; " class="text-center">
    <a style="border-radius: 50%;font-size:200%;" href="{% url 'login' %}" role="button"
        class="btn btn-outline-primary"><i class="fa fa-sign-in"></i></a>
    <a style="border-radius: 50%; font-size: 200%;" href="{% url 'register' %}" role="button"
        class="btn btn-outline-primary"><i class="fa fa-user-plus"></i></a>
</div>
<img id="mygif" src="{% static 'twitter.gif' %}" height="70%" />

{% endif %}





<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-sm table-dark" id="tweet_data">
                    <thead>
                        <tr>
                            <th scope="col">Profile</th>
                            <th scope="col">User Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Tweet</th>
                            <th scope="col">created_at</th>
                            <th scope="col">Retweet Count</th>
                        </tr>
                    </thead>
                    <tbody id="p_widget">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="export" type="button" class="btn btn-primary">Export to Excel</button>
            </div>
        </div>
    </div>
</div>
{% block javascript %}
<script>
    $(document).ready(function () {
        $("#export").off().click(function () {
            TableToExcel.convert(document.getElementById("tweet_data"), {
                name: `TwitterData_${$('#export').attr('data-mode')}.xlsx`,
                sheet: {
                    name: "Sheet1"
                }
            });
        });
    });
    function drawPieGraph(data, id) {
        var labels = data.labels;
        var chartLabel = data.chartLabel;
        var chartdata = data.chartdata;
        var canvas = document.getElementById(id)
        var ctx = canvas.getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: chartLabel,
                    data: chartdata,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                    ],
                    borderWidth: 1
                }]
            },

        });
    }

    function drawLineGraph(data, id) {
        var labels = data.labels;
        var tweetIds = data.data_dict.map((e) => e.id);
        var retweetCount = data.data_dict.map((e) => e.retweet_count);
        var favCount = data.data_dict.map((e) => e.favourite_count);
        var canvas = document.getElementById(id)
        var ctx = canvas.getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: tweetIds,
                datasets: [
                    {
                        label: 'Favourite Count',
                        data: favCount,
                        borderColor: 'red',
                        backgroundColor: 'rgba(255, 0, 0, 0.3)'
                    },
                    {
                        label: 'Retweet Count',
                        data: retweetCount,
                        borderColor: 'blue',
                        backgroundColor: 'rgba(0,0,255,0.3)'
                    }
                ]
            },
            options: {
                // tooltips: {
                //     enabled: true,
                //     // mode: 'single',
                //     callbacks: {
                //         label: function (tooltipItems, data) {
                //             var i = tooltipItems.index;
                //             return data.labels[i] + data.datasets[0].data[i];
                //         }
                //     }
                // },
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Retweet and Favourite Counts'
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            padding: 10
                        }
                    }],
                    yAxes: [{
                        stacked: true,
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            },
        });
    }

    function drawBarGraph(data, id) {
        var labels = data.labels;
        var chartLabel = data.chartLabel;
        var chartdata = data.chartdata;
        var canvas = document.getElementById(id)
        var ctx = canvas.getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: chartLabel,
                    data: chartdata,
                    backgroundColor: "rgba(54, 162, 235, 0.2)",
                    borderColor: 'rgba(255, 99, 132, 0.2)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Opinions View Chart'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }

    function drawLineGraphforDate(data, id) {
        var labels = data.labels;
        var tweetIds = {};
        var Ids = [];
        var tweetDates = [];
        data.data_dict.forEach(ele => {
            let date = new Date(ele.created_at).toLocaleDateString();
            if (!tweetDates.includes(date) && !Ids.includes(ele.id)) {
                Ids.push(ele.id)
                tweetDates.push(date)
                tweetIds[date] = [ele.id];
                tweetIds[date].count = 1;
            }
            else {
                tweetIds[date].push(ele.id);
                tweetIds[date].count++;
            }
        });
        var tweetCounts = tweetDates.map(d => tweetIds[d].count);
        var favCount = data.data_dict.map((e) => e.favourite_count);
        var canvas = document.getElementById(id)
        var ctx = canvas.getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: tweetDates,
                datasets: [
                    {
                        label: 'Tweets Count',
                        data: tweetCounts,
                        borderColor: 'red',
                    },
                ]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Opinions View by Date'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            },

        });
    }



    function makeTableData(data, mode) {
        var table_body = document.getElementById('p_widget')
        if (mode === 'positive') {
            var elem = document.getElementById('title')
            elem.innerHTML = "Positive Tweets"
            $('#export').attr('data-mode', 'positive')
            data.map((item) => {
                if (item.sentiment === 'positive') {
                    var tr = table_body.insertRow();
                    var c1 = tr.insertCell(0);
                    var c2 = tr.insertCell(1);
                    var c3 = tr.insertCell(2);
                    var c4 = tr.insertCell(3);
                    var c5 = tr.insertCell(4);
                    var c6 = tr.insertCell(5);
                    c1.innerHTML = `<img style="border-radius: 50%" src=${item?.user?.profile_img} width="100%" height="100%" />`
                    c1.style = "padding: 10px"
                    c2.innerHTML = item.user?.id.toString()
                    c3.innerHTML = item.user?.name;
                    c4.innerHTML = item.tweet
                    c5.innerHTML = moment(item.created_at).fromNow();
                    c6.innerHTML = item.retweet_count

                }
            })
        }
        else if (mode === 'negative') {
            var elem = document.getElementById('title')
            $('#export').attr('data-mode', 'negative')
            elem.innerHTML = "Negative Tweets"
            data.map((item) => {
                if (item.sentiment === 'negative') {
                    var tr = table_body.insertRow();
                    var c1 = tr.insertCell(0);
                    var c2 = tr.insertCell(1);
                    var c3 = tr.insertCell(2);
                    var c4 = tr.insertCell(3);
                    var c5 = tr.insertCell(4);
                    var c6 = tr.insertCell(5);
                    c1.innerHTML = `<img style="border-radius: 50%" src=${item?.user?.profile_img} width="100%" height="100%" />`
                    c1.style = "padding: 10px"
                    c2.innerHTML = item.user?.id.toString()
                    c3.innerHTML = item.user?.name;
                    c4.innerHTML = item.tweet
                    c5.innerHTML = moment(item.created_at).fromNow();
                    c6.innerHTML = item.retweet_count
                }
            })
        }
        else {
            var elem = document.getElementById('title')
            elem.innerHTML = "Neutral Tweets"
            $('#export').attr('data-mode', 'neutral')
            data.map((item) => {
                if (item.sentiment === 'neutral') {
                    var tr = table_body.insertRow();
                    var c1 = tr.insertCell(0);
                    var c2 = tr.insertCell(1);
                    var c3 = tr.insertCell(2);
                    var c4 = tr.insertCell(3);
                    var c5 = tr.insertCell(4);
                    var c6 = tr.insertCell(5);
                    c1.innerHTML = `<img style="border-radius: 50%" src=${item?.user?.profile_img} width="100%" height="100%" />`
                    c1.style = "padding: 10px"
                    c2.innerHTML = item.user?.id.toString()
                    c3.innerHTML = item.user?.name;
                    c4.innerHTML = item.tweet
                    c5.innerHTML = moment(item.created_at).fromNow();
                    c6.innerHTML = item.retweet_count
                }
            })
        }

    }

    $('#twitter').on('submit', (e) => {
        $('#analyze').attr('disabled', true);
        $('#analyze').css('cursor', 'not-allowed')
        let hashtag = e.target[0].value
        if (!hashtag.includes('#')) {
            hashtag = '#' + hashtag;
        }
        e.preventDefault();
        $('#loader').css('visibility', 'visible')
        $('#base').css('opacity',0.2)
        $("#footer").css('opacity', 0.2)
        $.ajax({
            url: `{% url 'analyze' %}`,
            data: 'hashtag=' + hashtag,
            type: 'POST',
            success: function (result) {
                var pos_count = result.data_dict.filter((item) => item.sentiment === 'positive').length
                var neg_count = result.data_dict.filter((item) => item.sentiment === 'negative').length
                var neu_count = result.data_dict.filter((item) => item.sentiment === 'neutral').length
                $('#p_count').html(`${pos_count}`)
                $('#ne_count').html(`${neg_count}`)
                $('#nu_count').html(`${neu_count}`)
                drawBarGraph(result, 'myChartBar')
                drawPieGraph(result, 'myPie')
                console.log(result)
                drawLineGraph(result, 'myLine')
                drawLineGraphforDate(result, 'myDate')
                $('#myChartBar').show();
                $('#myPie').show();
                $('#myLine').show();
                $('#myDate').show();
                window.data = result.data_dict
                $('#positive').show();
                $('#negative').show();
                $('#neutral').show();
                $('#base').css('opacity',1)
                $('#loader').css('visibility', 'hidden')
                $("#footer").css('opacity', 1)
                $('#analyze').removeAttr('disabled');
                $('#analyze').css('cursor', 'pointer')
                $('#hash').val('')
                $('#tag').text(hashtag)
                $('#tag').css('visibility', 'visible')
            },
            error: (err) => {
                alert("Some Error Occurred! Please try again :(")
            }
        });
    })

    var setTableData = (mode) => {

        var table_b = document.getElementById('p_widget')
        table_b.innerHTML = "";
        mode === 'positive' ? makeTableData(window.data, mode) : (mode === 'negative' ? makeTableData(window.data, mode) : makeTableData(window.data, mode))
    }

</script>
{% endblock javascript %}
{% endblock content %}