<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <title>Confirmation</title>
    <style>
        body{ color: blue; }
        h1{
        color: red;
        }

    </style>
</head>
<body style="text-align:center;display: block">
<div style='text-align:center'>
    <h1>Dear Recipient, Welcome to Blood Bank!</h1><br>
    <img src=''><br>
    <a href="#" role="button" class="btn-outline-primary rounded-pill">Home page</a><br/><h2>Thank you for registering in the blood donation site. Hope You got all recipient data from our site.</h2></div>
<br><br>click here to contact owner <a style="text-decoration:none" href="https://jjnanthakumar.github.io">Contact Us</a>
</body>
</html>