{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Reset Password {% endblock title %}
{% block content %}
<div class="form">
    <form action="" method="POST" enctype="multipart/form-data" id="reset">
        {% csrf_token %}
        <h2>Reset Password</h2>
        <br>
        <input type="password" name="new_password1" id="id_new_password1" placeholder="Enter New Password" required>
		<input type="password" name="new_password2" id="id_new_password2" placeholder="Confirm Password" required>
		
        <button type="submit"><i class="icon-lock4"></i> Change
            Password</button>
    </form>
</div>
{% endblock content %}