{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Reset Password{% endblock title %}
{% block content %}
<div class="form">
    <!--login form start-->
    <form class="login-form" method="POST">
        {% csrf_token %}
        <h2>Reset Password</h2>
        <br>
        <input type="email" name="email" id="id_email" value="" placeholder="Email" required>
        <button type="submit" name="button">Submit</button><br><br>
        <p class="options">Wanna go back?<a href="{% url 'login' %}"> Click Here </a></p>
    </form>
</div>
{% endblock content %}