.footer-dark {
    padding: 10px 0;
    color: black;
    width: 100%;
    background-color: #acdee7;
    height: fit-content;
}

.footer-dark h3 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 16px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: fit-content;
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: rgb(55, 35, 235);
    opacity: 0.75;
    border: solid 1px violet;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
    background-color: blue;
    color: white;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 5px;
    opacity: 0.8;
    font-size: 13px;
    margin-bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}